<div class="container">
    <h3 class="box-title"> <strong>Shedule</strong></h3>
</div>


<div class="container-fluid">
    <div class="row py-3">
        <div class="col-md-3 col-12 mb-3 px-lg-2 px-0">
            <div class="bg-white rounded-3 p-4 text-black shadow-sm">
                <div class="col d-flex align-items-center justify-content-between">
                    <i class="bi icon-xl bi-share"></i>
                    <span>Planner</span>
                    <!-- <a [routerLink]="['./weeklyview']" routerLinkActive="active" >My Shedule</a> -->
                </div>
                <div class="col">

                </div>
            </div>
        </div>
        <div class="col-md-3 col-12 mb-3 px-lg-2 px-0">
            <div class="bg-white rounded-3 p-4 text-black shadow-sm">
                <div class="col d-flex align-items-center justify-content-between">
                    <i class="bi icon-xl bi-share"></i>
                    <span>Service Request</span>
                </div>
                <div class="col">

                </div>
            </div>
        </div>
        <div class="col-md-3 col-12 mb-3 px-lg-2 px-0">
            <div class="bg-white rounded-3 p-4 text-black shadow-sm">
                <div class="col d-flex align-items-center justify-content-between">
                    <i class="bi icon-xl bi-share"></i>
                    <span>Staff Holiday</span>
                </div>
                <div class="col">

                </div>
            </div>
        </div>
        <div class="col-md-3 col-12 mb-3 px-lg-2 px-0">

        </div>

        <!--  -->
        <div class="col-md-3 col-12 mb-3 px-lg-2 px-0">
            <div class="bg-white rounded-3 p-4 text-black shadow-sm">
                <div class="col d-flex align-items-center justify-content-between">
                    <i class="bi icon-xl bi-share"></i>
                    <span>Service Visit</span>
                </div>
                <div class="col">

                </div>
            </div>
        </div>
        <div class="col-md-3 col-12 mb-3 px-lg-2 px-0">
            <div class="bg-white rounded-3 p-4 text-black shadow-sm">
                <div class="col d-flex align-items-center justify-content-between">
                    <i class="bi icon-xl bi-share"></i>
                    <span>Who Can Do</span>
                </div>
                <div class="col">

                </div>
            </div>
        </div>
        <div class="col-md-3 col-12 mb-3 px-lg-2 px-0">
            <div class="bg-white rounded-3 p-4 text-black shadow-sm">
                <div class="col d-flex align-items-center justify-content-between">
                    <i class="bi icon-xl bi-share"></i>
                    <span>Availability By Date</span>
                </div>
                <div class="col">

                </div>
            </div>
        </div>
        <div class="col-md-3 col-12 mb-3 px-lg-2 px-0">

        </div>
        <div class="col-md-3 col-12 mb-3 px-lg-2 px-0">
            <div class="bg-white rounded-3 p-4 text-black shadow-sm">
                <div class="col d-flex align-items-center justify-content-between">
                    <i class="bi icon-xl bi-share"></i>
                    <span>Worker Availability</span>
                </div>
                <div class="col">

                </div>
            </div>
        </div>
        <div class="col-md-3 col-12 mb-3 px-lg-2 px-0">
            <div class="bg-white rounded-3 p-4 text-black shadow-sm">
                <div class="col d-flex align-items-center justify-content-between">
                    <i class="bi icon-xl bi-share"></i>
                    <span>Worker Shedule</span>
                </div>
                <div class="col">

                </div>
            </div>
        </div>
        <div class="col-md-3 col-12 mb-3 px-lg-2 px-0">
            <div class="bg-white rounded-3 p-4 text-black shadow-sm">
                <div class="col d-flex align-items-center justify-content-between">
                    <i class="bi icon-xl bi-share"></i>
                    <span>NDIS Shedules</span>
                </div>
                <div class="col">

                </div>
            </div>
        </div>


    </div>

</div>