<div class="container">
    <h3 class="box-title"> <strong>Service Visit Details</strong></h3>
</div>

<div class="container-fluid">
    <div class="row py-3">
        <div class="col-12">
            <table class="uk-table uk-table-responsive uk-table-divider uk-table-middle border bg-white">
                <thead>
                    <tr>
                        <td> <strong>Peter Hallgarten (GHC00221)</strong> </td>
                        <td> <span> <strong>Address: </strong>
                                Quest Appartments Corner of
                                and miller street </span>
                            <p> <strong>Support Worker:</strong> Justin</p>
                            <p> <strong>Extra Paid Time:</strong> 0 Min</p>
                            <p> <strong>Invoice Details:</strong>Active Over Night</p>
                        </td>
                        <td> <span class="mb-2 me-3">Status</span>
                            <span class="uk-label mb-2 me-2">Compleated</span>
                        </td>
                    </tr>
                    <tr>
                        <td> <strong>Peter Hallgarten (GHC00221)</strong> </td>
                        <td> <span> <strong>Address: </strong>
                                Quest Appartments Corner of
                                and miller street </span>
                            <p> <strong>Support Worker:</strong> Justin</p>
                            <p> <strong>Extra Paid Time:</strong> 0 Min</p>
                            <p> <strong>Invoice Details:</strong>Active Over Night</p>
                        </td>
                        <td> <span class="mb-2 me-3">Status</span>
                            <span class="uk-label mb-2 me-2">Compleated</span>
                        </td>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>

</div>