<div class="container">
    <h3 class="box-title"> <strong>Information</strong></h3>
</div>

<div class="container-fluid">
    <div class="row py-3">
        <div class="col-md-8 col-12 mb-3 px-lg-2 px-0">
            <div class="bg-white rounded-3 p-4 text-black shadow-sm">
                <div class="col d-flex align-items-center justify-content-between">
                    <span><strong>JET KNUCKEY(KNUJE137)</strong></span>

                </div>
                <p>
                <div class="col">
                    <button class="uk-button uk-button-primary uk-button-small">Active</button>
                    <p>
                </div>
                <div class="col">
                    <p>Reference Number:546545</p>
                    <span>Created:15 Apr 2021</span>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-12 mb-3 px-lg-2 px-0">

        </div>
        <div class="col-md-8 col-12 mb-3 px-lg-2 px-0">
            <div class="bg-white rounded-3 p-4 text-black shadow-sm">
                <div class="col d-flex align-items-center justify-content-between">
                    <span><strong>JET KNUCKEY(KNUJE137)</strong></span>

                </div>
                <p>
                <div class="col">
                    <button class="uk-button uk-button-primary uk-button-small">Active</button>
                    <p>
                </div>
                <div class="col">
                    <p>Reference Number:546545</p>
                    <span>Created:15 Apr 2021</span>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-12 mb-3 px-lg-2 px-0">
        </div>
        <div class="col-md-8 col-12 mb-3 px-lg-2 px-0">
            <div class="bg-white rounded-3 p-4 text-black shadow-sm">
                <div class="col d-flex align-items-center justify-content-between">
                    <span><strong>JET KNUCKEY(KNUJE137)</strong></span>

                </div>
                <p>
                <div class="col">
                    <button class="uk-button uk-button-primary uk-button-small">Active</button>
                    <p>
                </div>
                <div class="col">
                    <p>Reference Number:546545</p>
                    <span>Created:15 Apr 2021</span>
                </div>
            </div>
        </div>
    </div>
</div>