<div class="container">
    <h3 class="box-title">Admin</h3>
</div>

<div class="container-fluid">

    <div class="row py-3">
        <span><strong>System</strong></span>
        <div class="col-md-3 col-12 mb-3 px-lg-2 px-0">
            <div class="bg-white rounded-3 p-4 text-black shadow-sm">
                <div class="d-flex justify-content-center">


                    <span>Users</span>
                </div>
                <div class="col">

                </div>
            </div>
        </div>

        <div class="col-md-3 col-12 mb-3 px-lg-2 px-0">
            <div class="bg-white rounded-3 p-4 text-black shadow-sm">
                <div class="d-flex justify-content-center">

                    <span>Suburbs</span>

                </div>
                <div class="col">

                </div>
            </div>
        </div>
        <div class="col-md-3 col-12 mb-3 px-lg-2 px-0">
            <div class="bg-white rounded-3 p-4 text-black shadow-sm">
                <div class="d-flex justify-content-center">

                    <span>Dvisions</span>
                </div>
                <div class="col">

                </div>
            </div>

        </div>
        <div class="col-md-3 col-12 mb-3 px-lg-2 px-0">
            <div class="bg-white rounded-3 p-4 text-black shadow-sm">
                <div class="d-flex justify-content-center">

                    <span>Branches</span>
                </div>
                <div class="col">

                </div>
            </div>

        </div>
        <div class="col-md-3 col-12 mb-3 px-lg-2 px-0">
            <div class="bg-white rounded-3 p-4 text-black shadow-sm">
                <div class="d-flex justify-content-center">

                    <span>Branches</span>
                </div>
                <div class="col">

                </div>
            </div>

        </div>
        <div class="col-md-3 col-12 mb-3 px-lg-2 px-0">
            <div class="bg-white rounded-3 p-4 text-black shadow-sm">
                <div class="d-flex justify-content-center">

                    <span>Branches</span>
                </div>
                <div class="col">

                </div>
            </div>

        </div>
        <div class="col-md-3 col-12 mb-3 px-lg-2 px-0">
            <div class="bg-white rounded-3 p-4 text-black shadow-sm">
                <div class="d-flex justify-content-center">

                    <span>Branches</span>
                </div>
                <div class="col">

                </div>
            </div>

        </div>
        <div class="col-md-3 col-12 mb-3 px-lg-2 px-0">
            <div class="bg-white rounded-3 p-4 text-black shadow-sm">
                <div class="d-flex justify-content-center">

                    <span>Branches</span>
                </div>
                <div class="col">

                </div>
            </div>

        </div>

        <span><strong>Staffs</strong></span>
        <div class="col-md-3 col-12 mb-3 px-lg-2 px-0">
            <div class="bg-white rounded-3 p-4 text-black shadow-sm">
                <div class="d-flex justify-content-center">

                    <span>Payroll Adjustments</span>
                </div>
                <div class="col">

                </div>
            </div>
        </div>
        <div class="col-md-3 col-12 mb-3 px-lg-2 px-0">
            <div class="bg-white rounded-3 p-4 text-black shadow-sm">
                <div class="d-flex justify-content-center">
                    <span>Charge Deduction</span>
                </div>
                <div class="col">

                </div>
            </div>
        </div>
        <div class="col-md-3 col-12 mb-3 px-lg-2 px-0">
            <div class="bg-white rounded-3 p-4 text-black shadow-sm">
                <div class="d-flex justify-content-center">
                    <span>Charge Expences</span>
                </div>
                <div class="col">

                </div>
            </div>

        </div>
        <div class="col-md-3 col-12 mb-3 px-lg-2 px-0">
            <div class="bg-white rounded-3 p-4 text-black shadow-sm">
                <div class="d-flex justify-content-center">
                    <span>Payroll Adjustments</span>
                </div>
                <div class="col">

                </div>
            </div>

        </div>
        <div class="col-md-3 col-12 mb-3 px-lg-2 px-0">
            <div class="bg-white rounded-3 p-4 text-black shadow-sm">
                <div class="d-flex justify-content-center">
                    <span>Charge Fees</span>
                </div>
                <div class="col">

                </div>
            </div>

        </div>
        <div class="col-md-3 col-12 mb-3 px-lg-2 px-0">
            <div class="bg-white rounded-3 p-4 text-black shadow-sm">
                <div class="d-flex justify-content-center">
                    <span>Charge Fees</span>
                </div>
                <div class="col">

                </div>
            </div>
        </div>
        <span><strong>Service Users</strong> </span>
        <div class="col-md-3 col-12 mb-3 px-lg-2 px-0">
            <div class="bg-white rounded-3 p-4 text-black shadow-sm">
                <div class="d-flex justify-content-center">
                    <span>NDIS Request Letter</span>
                </div>
                <div class="col">

                </div>
            </div>
        </div>
        <div class="col-md-3 col-12 mb-3 px-lg-2 px-0">
            <div class="bg-white rounded-3 p-4 text-black shadow-sm">
                <div class="d-flex justify-content-center">
                    <span>NDIS Claims Letter</span>
                </div>
                <div class="col">

                </div>
            </div>
        </div>
        <div class="col-md-3 col-12 mb-3 px-lg-2 px-0">
            <div class="bg-white rounded-3 p-4 text-black shadow-sm">
                <div class="d-flex justify-content-center">
                    <span>NDIS Claims</span>
                </div>
                <div class="col">

                </div>
            </div>
        </div>
    </div>
</div>