<div class="container">
    <h3 class="box-title"> <strong>NDIS Schedules</strong></h3>
</div>

<div class="container-fluid">
    <div class="row py-3">
        <div class="col-12">
            <table class="uk-table uk-table-responsive uk-table-divider uk-table-middle border bg-white">

                <thead>
                    <tr>
                        <td><strong>Aaron Newton</strong> </td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><strong>Adwang Newton</strong> </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Adwang Joseph</strong>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>AKASH FONESKA</strong>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>