<div class="container">
    <h3 class="box-title"> <strong>Candidates</strong></h3>
</div>


<div class="container-fluid">
    <div class="row py-3">
        <div class="col-md-6 col-12 mb-3 px-lg-2 px-0">
            <div class="bg-white rounded-3 p-4 text-black shadow-sm">
                <div class="col d-flex align-items-center justify-content-between">
                    <span> <strong>Jibu Raju</strong> </span>
                    <img src="../../../assets/image.jpg" width="75" height="65" alt="">
                </div>
                <div class="col">
                    <span> <strong>Email:</strong> jibu12@gmail.com</span>
                    <p>
                        <span><strong>Phone:</strong>9825121447</span>
                    <p>
                        <span><strong>Subdurb:</strong>Cochin</span>
                    <p>
                </div>
                <!-- <div class="text-sm-start">
                    
                    <button class="btn uk-button-primary uk-button-small mb-2 me-2">CHILDREN</button>
                    <button class="btn uk-button-primary uk-button-small mb-2 me-2">ALL</button>
                </div> -->
            </div>
        </div>

        <div class="col-md-6 col-12 mb-3 px-lg-2 px-0">
            <div class="bg-white rounded-3 p-4 text-black shadow-sm">
                <div class="col d-flex align-items-center justify-content-between">
                    <span> <strong>Jibu Raju</strong> </span>
                    <img src="../../../assets/image.jpg" width="75" height="65" alt="">
                </div>
                <div class="col">
                    <span> <strong>Email:</strong> jibu12@gmail.com</span>
                    <p>
                        <span><strong>Phone:</strong>9825121447</span>
                    <p>
                        <span><strong>Subdurb:</strong>Cochin</span>
                    <p>
                </div>

            </div>
        </div>

        <div class="col-md-6 col-12 mb-3 px-lg-2 px-0">
            <div class="bg-white rounded-3 p-4 text-black shadow-sm">
                <div class="col d-flex align-items-center justify-content-between">
                    <span> <strong>Jibu Raju</strong> </span>
                    <img src="../../../assets/image.jpg" width="75" height="65" alt="">
                </div>
                <div class="col">
                    <span> <strong>Email:</strong> jibu12@gmail.com</span>
                    <p>
                        <span><strong>Phone:</strong>9825121447</span>
                    <p>
                        <span><strong>Subdurb:</strong>Cochin</span>
                    <p>
                </div>

            </div>
        </div>

        <div class="col-md-6 col-12 mb-3 px-lg-2 px-0">
            <div class="bg-white rounded-3 p-4 text-black shadow-sm">
                <div class="col d-flex align-items-center justify-content-between">
                    <span> <strong>Jibu Raju</strong> </span>
                    <img src="../../../assets/image.jpg" width="75" height="65" alt="">
                </div>
                <div class="col">
                    <span> <strong>Email:</strong> jibu12@gmail.com</span>
                    <p>
                        <span><strong>Phone:</strong>9825121447</span>
                    <p>
                        <span><strong>Subdurb:</strong>Cochin</span>
                    <p>
                </div>

            </div>
        </div>

    </div>
</div>