<div class="container">
    <h3 class="box-title"> <strong>Finance Module</strong></h3>

</div>


<div class="container-fluid">

    <div class="row py-3">
        <span>Cores</span>
        <div class="col-md-3 col-12 mb-3 px-lg-2 px-0">
            <div class="bg-white rounded-3 p-4 text-black shadow-sm">
                <div class="col d-flex align-items-center justify-content-between">
                    <i class="bi icon-xl bi-share"></i>

                    <a [routerLink]="['../visitledger']" routerLinkActive="active">Visit Ledger</a>
                </div>
                <div class="col">

                </div>
            </div>
        </div>

        <div class="col-md-3 col-12 mb-3 px-lg-2 px-0">
            <div class="bg-white rounded-3 p-4 text-black shadow-sm">
                <div class="col d-flex align-items-center justify-content-between">
                    <i class="bi icon-xl bi-share"></i>
                    <a [routerLink]="['../invoiceledger']" routerLinkActive="active">Invoice Ledger</a>

                </div>
                <div class="col">

                </div>
            </div>
        </div>
        <div class="col-md-3 col-12 mb-3 px-lg-2 px-0">
            <div class="bg-white rounded-3 p-4 text-black shadow-sm">
                <div class="col d-flex align-items-center justify-content-between">
                    <i class="bi icon-xl bi-share"></i>
                    <span>Invoice Reciept</span>
                </div>
                <div class="col">

                </div>
            </div>

        </div>
        <div class="col-md-3 col-12 mb-3 px-lg-2 px-0">

        </div>
        <span>Adjustments</span>
        <div class="col-md-3 col-12 mb-3 px-lg-2 px-0">
            <div class="bg-white rounded-3 p-4 text-black shadow-sm">
                <div class="col d-flex align-items-center justify-content-between">
                    <i class="bi icon-xl bi-share"></i>
                    <span>Payroll Adjustments</span>
                </div>
                <div class="col">

                </div>
            </div>
        </div>
        <div class="col-md-3 col-12 mb-3 px-lg-2 px-0">
            <div class="bg-white rounded-3 p-4 text-black shadow-sm">
                <div class="col d-flex align-items-center justify-content-between">
                    <i class="bi icon-xl bi-share"></i>
                    <span>Charge Deduction</span>
                </div>
                <div class="col">

                </div>
            </div>
        </div>
        <div class="col-md-3 col-12 mb-3 px-lg-2 px-0">
            <div class="bg-white rounded-3 p-4 text-black shadow-sm">
                <div class="col d-flex align-items-center justify-content-between">
                    <i class="bi icon-xl bi-share"></i>
                    <span>Charge Expences</span>
                </div>
                <div class="col">

                </div>
            </div>

        </div>
        <div class="col-md-3 col-12 mb-3 px-lg-2 px-0">

        </div>
        <div class="col-md-3 col-12 mb-3 px-lg-2 px-0">
            <div class="bg-white rounded-3 p-4 text-black shadow-sm">
                <div class="col d-flex align-items-center justify-content-between">
                    <i class="bi icon-xl bi-share"></i>
                    <span>Charge Fees</span>
                </div>
                <div class="col">

                </div>
            </div>

        </div>




        <span>Cores</span>
        <div class="col-md-3 col-12 mb-3 px-lg-2 px-0">
            <div class="bg-white rounded-3 p-4 text-black shadow-sm">
                <div class="col d-flex align-items-center justify-content-between">
                    <i class="bi icon-xl bi-share"></i>
                    <span>NDIS Request Letter</span>
                </div>
                <div class="col">

                </div>
            </div>
        </div>
        <div class="col-md-3 col-12 mb-3 px-lg-2 px-0">
            <div class="bg-white rounded-3 p-4 text-black shadow-sm">
                <div class="col d-flex align-items-center justify-content-between">
                    <i class="bi icon-xl bi-share"></i>
                    <span>NDIS Claims Letter</span>
                </div>
                <div class="col">

                </div>
            </div>
        </div>
        <div class="col-md-3 col-12 mb-3 px-lg-2 px-0">
            <div class="bg-white rounded-3 p-4 text-black shadow-sm">
                <div class="col d-flex align-items-center justify-content-between">
                    <i class="bi icon-xl bi-share"></i>
                    <span>NDIS Claims</span>
                </div>
                <div class="col">

                </div>
            </div>
        </div>
    </div>
</div>