<div class="container-fluid bg-custom rounded-top border shadow-sm mb-2 boundary-align">
    <div class="row">
        <div class="col-12 py-2 d-flex align-items-center justify-content-between">
            <i class="bi bi-list pointer d-md-none d-block"></i>
            <div class="p-0 rounded-3" uk-dropdown="pos: bottom-justify; boundary: .boundary-align; boundary-align: true">
                <app-sidebar></app-sidebar>
            </div>
            <span><img src="../../../assets/whoofey-logo-84-01.png" id="logo"></span>
            <!-- <img src="../../../assets/goodwill.PNG" class="user-image2" style="height: 50px; width: 110px;" alt=""> -->
            <div>
                 <!-- <i class="bi bi-person-circle"></i> -->
            <img src="../../../assets/doc.jpg" class="user-image" alt="">
            <span>User</span>
            <span uk-icon="chevron-down" id="ico"></span>
            <div uk-dropdown>
                <ul class="uk-nav uk-dropdown-nav">
                    <li class="uk-active"><a href="#">Active</a></li>
                    <li><a href="#">Item</a></li>
                    <li class="uk-nav-header">Header</li>
                    <li><a href="#">Item</a></li>
                    <li><a href="#">Item</a></li>
                    <li class="uk-nav-divider"></li>
                    <li><a href="#"><span class="bi bi-power">Logout</span></a></li>
                </ul>
            
        </div>
            
        </div>
       
    </div>
</div>