<div class="container">
    <h3 class="box-title"> <strong>Informations</strong></h3>
</div>
<div class="container-fluid">

    <div class="row py-3">
        <div class="col-12">

            <div class="container-fluid">
                <div class="row py-3">
                    <div class="col-md-3 col-12 mb-3 px-lg-2 px-0">
                        <div class="bg-white rounded-3 p-4 text-black shadow-sm">
                            <div class="col d-flex align-items-center justify-content-between">
                                <i class="bi icon-xl bi-calendar-event"></i>
                                <a [routerLink]="['../allinformation']" routerLinkActive="active">All Informations</a>
                            </div>
                            <div class="col">

                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-12 mb-3 px-lg-2 px-0">
                        <div class="bg-white rounded-3 p-4 text-black shadow-sm">
                            <div class="col d-flex align-items-center justify-content-between">
                                <i class="bi icon-xl bi-calendar-event"></i>
                                <span>Incidents</span>
                            </div>
                            <div class="col">

                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-12 mb-3 px-lg-2 px-0">
                        <div class="bg-white rounded-3 p-4 text-black shadow-sm">
                            <div class="col d-flex align-items-center justify-content-between">
                                <i class="bi icon-xl bi-calendar-event"></i>
                                <span>Complaints</span>
                            </div>
                            <div class="col">

                            </div>
                        </div>

                    </div>
                    <div class="col-md-3 col-12 mb-3 px-lg-2 px-0">
                        <div class="bg-white rounded-3 p-4 text-black shadow-sm">
                            <div class="col d-flex align-items-center justify-content-between">
                                <i class="bi icon-xl bi-calendar-event"></i>
                                <span>Incidents</span>
                            </div>
                            <div class="col">

                            </div>
                        </div>

                    </div>







                </div>
            </div>
            <!-- <span uk-icon="round"></span> -->