<div class="container">
    <h3 class="box-title"> Finance Module</h3>
</div>

<div class="container-fluid">

    <div class="row py-3">
        <div class="col-12">
            <table class="uk-table uk-table-responsive uk-table-divider uk-table-middle border" id="tab-ta">
                <thead>
                    <tr>
                        <th>Week</th>
                        <th>Start Date</th>
                        <th>Charges/pay hrs</th>
                        <th>Charges/pay=visit</th>
                        <th>Charge Adj</th>
                        <th>Charge Adj</th>
                        <th>Charge Adj</th>
                        <th>Charge Adj</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>2121</td>
                        <td>26 March 2020</td>
                        <td>15000/15000</td>
                        <td>2500+2500=5000</td>
                        <td>0.00</td>
                        <td>0.00</td>
                        <td>0.00</td>
                        <td>15000</td>
                    </tr>
                    <tr>
                        <td>2121</td>
                        <td>26 March 2020</td>
                        <td>15000/15000</td>
                        <td>2500+2500=5000</td>
                        <td>0.00</td>
                        <td>0.00</td>
                        <td>0.00</td>
                        <td>15000</td>
                    </tr>
                    <tr>
                        <td>2121</td>
                        <td>26 March 2020</td>
                        <td>15000/15000</td>
                        <td>2500+2500=5000</td>
                        <td>0.00</td>
                        <td>0.00</td>
                        <td>0.00</td>
                        <td>15000</td>
                    </tr>
                    <tr>
                        <td>2121</td>
                        <td>26 March 2020</td>
                        <td>15000/15000</td>
                        <td>2500+2500=5000</td>
                        <td>0.00</td>
                        <td>0.00</td>
                        <td>0.00</td>
                        <td>15000</td>
                    </tr>
                    <tr>
                        <td>2121</td>
                        <td>26 March 2020</td>
                        <td>15000/15000</td>
                        <td>2500+2500=5000</td>
                        <td>0.00</td>
                        <td>0.00</td>
                        <td>0.00</td>
                        <td>15000</td>
                    </tr>
                    <tr>
                        <td>2121</td>
                        <td>26 March 2020</td>
                        <td>15000/15000</td>
                        <td>2500+2500=5000</td>
                        <td>0.00</td>
                        <td>0.00</td>
                        <td>0.00</td>
                        <td>15000</td>
                    </tr>
                    <tr>
                        <td>2121</td>
                        <td>26 March 2020</td>
                        <td>15000/15000</td>
                        <td>2500+2500=5000</td>
                        <td>0.00</td>
                        <td>0.00</td>
                        <td>0.00</td>
                        <td>15000</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>