<div class="row py-3">
    <div class="col-8">
    </div>
</div>


  <div class="container">
    <span class="d-flex justify-content-between">
        <h3 class="box-title"> <strong>Information</strong></h3>
        <!-- <button [routerLink]="['../weeklyview']"  routerLinkActive="active"  class="uk-button-primary h-50">Add Unavailable Dates</button> -->
    </span>
</div>


<div class="container-fluid">
    <div class="row py-3">
        <div class="col-md-6 col-12 mb-3 px-lg-2 px-0">
            <div class="bg-white rounded-3 p-4 text-black shadow-sm">
                <div class="col d-flex align-items-center justify-content-between">
                    <span><strong>12 MARCH 2021</strong></span>

                </div>
                <p>
                <div class="col">
                    <!-- <button class="uk-button uk-button-primary uk-button-small">Active</button> -->
                    <button class="uk-label uk-button-primary mb-2 me-1">NEW</button>
                    <button class="uk-label uk-button-primary mb-2 me-1">PROGRESS NOTE</button>
                    <p>
                </div>
                <div class="col">
                    <!-- <p>information added by support worker Angegu Tesdaye [GH0000167] during visit form 08:45 to
                        11:45information added by support worker Angegu Tesdaye [GH0000167]</p>
                    <p>added by support worker Angegu Tesdaye [GH0000167] during visit form 08:45 to 11:45information
                        added by support worker Angegu Tesdaye [GH0000167]</p> -->
                    <p><strong>Linked Service User:</strong> 15 Apr 2021</p>
                    <p> <strong>Linked Employee:</strong> 15 Apr 2021</p>
                </div>



            </div>
        </div>

        <div class="col-md-6 col-12 mb-3 px-lg-2 px-0">
            <div class="bg-white rounded-3 p-4 text-black shadow-sm h-100">
                
                <p>
                <div class="d-flex justify-content-center">
                    <!-- <button class="uk-button uk-button-primary uk-button-small">Active</button> -->
                    <button class="uk-label uk-button-primary mb-2 me-1">Service User</button>
                    <button class="uk-label uk-button-primary mb-2 me-1">Employee</button>
                    <p>
                </div>
                <div class="col">
                    <p>information added by support worker Angegu Tesdaye [GH0000167] during visit form 08:45 to
                        11:45information added by support worker Angegu Tesdaye [GH0000167]</p>
                
                    
                </div>



            </div>

        </div>

        <div class="col-md-6 col-12 mb-3 px-lg-2 px-0">
            <div class="bg-white rounded-3 p-4 text-black shadow-sm">
                <div class="col d-flex align-items-center justify-content-between">
                    <span><strong>NOTES</strong></span>

                </div>
                <p>
                <div class="col">
                    <!-- <button class="uk-button uk-button-primary uk-button-small">Active</button> -->
                    <button class="uk-label uk-button-primary mb-2 me-1">NEW</button>
                    <button class="uk-label uk-button-primary mb-2 me-1">PROGRESS NOTE</button>
                    <p>
                </div>
                <div class="col">
                   
                    <p><strong>Linked Service User:</strong> 15 Apr 2021</p>
                    <p> <strong>Linked Employee:</strong> 15 Apr 2021</p>
                </div>


            </div>
        </div>

        <div class="col-md-6 col-12 mb-3 px-lg-2 px-0">
            <div class="bg-white rounded-3 p-4 text-black shadow-sm">
                <div class="col d-flex align-items-center justify-content-between">
                    <span><strong>TAGS</strong></span>

                </div>
                <p>
                <div class="col">
                    <!-- <button class="uk-button uk-button-primary uk-button-small">Active</button> -->
                    <button class="uk-label uk-button-primary mb-2 me-1">NEW</button>
                    <button class="uk-label uk-button-primary mb-2 me-1">PROGRESS NOTE</button>
                    <p>
                </div>
                <div class="col">
                   
                    <p><strong>Linked Service User:</strong> 15 Apr 2021</p>
                    <p> <strong>Linked Employee:</strong> 15 Apr 2021</p>
                </div>


            </div>
        </div>

   

        <div class="col-md-12 col-12 mb-3 px-lg-2 px-0">
            <div class="bg-white rounded-3 p-4 text-black shadow-sm">
                <div class="col d-flex align-items-center justify-content-between">
                    <span><strong>DOCUMENT</strong></span>

                </div>
                <p>
                <div class="col">
                    <!-- <button class="uk-button uk-button-primary uk-button-small">Active</button> -->
                    <button class="uk-label uk-button-primary mb-2 me-1">NEW</button>
                    <button class="uk-label uk-button-primary mb-2 me-1">PROGRESS NOTE</button>
                    <p>
                </div>
                <div class="col">
                  
                    <p><strong>Linked Service User:</strong> 15 Apr 2021</p>
                    <p> <strong>Linked Employee:</strong> 15 Apr 2021</p>
                </div>


            </div>
        </div>
        
        




    </div>
</div>