<div class="container">
    <h3 class="box-title"> <strong>Candidates</strong></h3>
</div>


<div class="container-fluid">
    <div class="row py-3">
        <div class="col-md-6 col-12 mb-3 px-lg-2 px-0">
            <div class="bg-white rounded-3 p-4 text-black shadow-sm h-100">
                <div class="col d-flex align-items-center justify-content-between">
                    <span> <strong>Jibu Raju</strong> </span>
                    <p>
                        <!-- <img src="../../../assets/image.jpg" width="75" height="65" alt=""> -->
                </div>
                <div class="col">
                    <span> <strong>Name:</strong> jibu12@gmail.com</span>
                    <p>

                    <p>
                        <span><strong>Phone:</strong>9825121447</span>
                    <p>
                        <span> <strong>Email:</strong> jibu12@gmail.com</span>
                    <p>
                        <span> <strong>Address:</strong> jibu12@gmail.com</span>
                    <p>

                </div>
                <!-- <div class="text-sm-start">
                    
                    <button class="btn uk-button-primary uk-button-small mb-2 me-2">CHILDREN</button>
                    <button class="btn uk-button-primary uk-button-small mb-2 me-2">ALL</button>
                </div> -->
            </div>
        </div>

        <div class="col-md-6 col-12 mb-3 px-lg-2 px-0">
            <div class="bg-white rounded-3 p-4 text-black shadow-sm h-100">
                <div class="d-flex justify-content-center">

                    <img src="../../../assets/image.jpg" width="100" height="75" alt="">

                </div>
                <p>

                <div class="d-flex justify-content-center">
                    <button class="uk-button uk-button-primary uk-button-small">Upload New Picture</button>

                </div>

            </div>
        </div>

        <div class="col-md-6 col-12 mb-3 px-lg-2 px-0">
            <div class="bg-white rounded-3 p-4 text-black shadow-sm h-100">
                <div class="col d-flex align-items-center justify-content-between">
                    <p> <strong>Jibu Raju</strong> </p>

                    <!-- <img src="../../../assets/image.jpg" width="75" height="65" alt=""> -->
                </div>
                <div class="col d-flex align-items-center justify-content-between">
                    <span> Overall Right To Work</span>
                    <button class="uk-button uk-button-primary uk-button-small">YES</button>
                </div> <p>

                <div class="col d-flex align-items-center justify-content-between">
                    <span> Overall Right To Work</span>
                    <button class="uk-button uk-button-primary uk-button-small">YES</button>
                </div>  <p>

                    <div class="col d-flex align-items-center justify-content-between">
                        <span> Overall Right To Work</span>
                        <button class="uk-button uk-button-danger uk-button-small">NO</button>
                    </div>


            </div>
        </div>

        <div class="col-md-6 col-12 mb-3 px-lg-2 px-0">
            <div class="bg-white rounded-3 p-4 text-black shadow-sm h-100">
                <div class="col d-flex align-items-center justify-content-between">
                    <p> <strong>DETAILS</strong> </p>
                   
                </div>
                <div class="col d-flex align-items-center justify-content-between">
                    <span> Police Check Issue Date : 30 sep 2020</span>
                    <span> Car Rego Number: 1GD5KH</span>
                   
                </div>

                <p class="col d-flex align-items-center justify-content-between">
                    <span> WWC Certificate Number :2043779A-01</span>
                    <span> Car Rego Number: 1GD5KH</span>
                   
                </p>
                <p class="col d-flex align-items-center justify-content-between">
                    <span> Car Rego Expiry : 30 sep 2020</span>
                    <span> Car Rego Number: 1GD5KH</span>
                   
                </p>

            </div>
        </div>

    </div>
</div>